/* @font-face {
	font-family: 'RobotoCondensed';
	src: url('./fonts/RobotoCondensed/RobotoCondensed-Regular.ttf');
	font-weight: 400;
}
@font-face {
	font-family: 'RobotoCondensed';
	src: url('./fonts/RobotoCondensed/RobotoCondensed-Bold.ttf');
	font-weight: 700;
}
@font-face {
	font-family: 'RobotoCondensed';
	src: url('./fonts/RobotoCondensed/RobotoCondensed-Light.ttf');
	font-weight: 300;
}
@font-face {
	font-family: 'RobotoCondensed';
	src: url('./fonts/RobotoCondensed/RobotoCondensed-Black.ttf');
	font-weight: 900;
} */